﻿@model IEnumerable<Systrotech_Repository.Entities.Category>

<table class="table" id="Categories">
    @foreach (var item in Model)
    {
        <tr class="leftCategories">
            <td style="text-align:center; font-size:30px; ">
                @Html.ActionLink(item.Name, "SearchByCategory", "Question", new { id = item.Id }, new { @class = "" })
            </td>
        </tr>
    }
</table>

