﻿@model  IEnumerable<Systrotech_Repository.Entities.Comment>

@foreach (var item in Model)
{    <p>
        @if (item.Correct == true)
        {
            <label class="btn btn-success active">
                <span class="glyphicon glyphicon-ok"></span>
            </label>
        }
        else
        {
            if (ViewBag.userId == item.Question.UserId)
            {
                <label class="btn btn-default">
                    <input type="checkbox" onchange="changeComment.correct(@item.Id)">
                    <span class="glyphicon glyphicon-ok"></span>
                </label>
            }
        }
        @item.Comment1  <span style="color:forestgreen">by @item.User.Name</span>
    </p>
    <hr />
}

<script>
    var questionChangeComment = '@Url.Action("ChangeComment", "Question")';
</script>
