﻿@model IEnumerable<Systrotech_Repository.Entities.Question>

@foreach (var item in Model)
{
    string title;
    if (item.Title.Length > 40)
    {
        title = item.Title.Substring(0, 40) + "...";
    }
    else
    {
        title = item.Title;
    }
    <div class="rightQuestions">
        <tr>
            <td>
                @Html.ActionLink(title, "Index", "Question", new { id = item.Id }, new { @class = "" })
                <hr />
            </td>
        </tr>
    </div>
}