﻿@model Systrotech.Blog.View_Models.SelectedQuestionViewModel
@{
    ViewBag.Title = "Index";
}

@{
    var currentPage = Convert.ToInt32(TempData["PageCount"]);
}

<div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">

    <div id="questionContent">
        <p><b style="font-size:30px">@Model.Question.Title</b></p>
        @Html.Raw(Model.Question.Content)
        <hr />
    </div>

    <div style="height:50px">
        <div style="float:left">
            <span><b style="color:darkorange">Sort Comment by </b></span>
            @Html.DropDownListFor(x => x.SortByComment, new SelectList(Model.SortByCommentList, "Value", "Text"), new { @id = "SortByComment" })
        </div>

        <div style="float:right">
            @if (ViewBag.userId > 0)
            {
                AjaxOptions options = new AjaxOptions { OnSuccess = "success" };

                using (Ajax.BeginForm("Comment", "Question", options/*, htmlAttributes: new { @id = "frmComment" }*/))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group " style="float:left">
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Comment, rows: 2, columns: 80, htmlAttributes: new { htmlAttributes = new { @class = "form-control " } })
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.Question.Id)

                    <div class="form-group" style="float:right">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add" class="btn btn-default" />
                        </div>
                    </div>
                }
            }
        </div>

    </div>

    <hr />
    <div id="comment">
        @Html.Action("CommentList", "Question", new { questionId = Model.Question.Id })
    </div>


    <div style="text-align:center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" onclick="comments.Browse('first')">First</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="comments.Browse('prev')">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#" onclick="comments.Browse('next')">Next</a></li>
                <li class="page-item "><a class="page-link" href="#" onclick="comments.Browse('last')">Last</a></li>
            </ul>
        </nav>
    </div>

    <div>

    </div>
</div>


<div class="row col-md-2 col-lg-2 col-sm-2 col-xs-2" style="background-color:#d9edf7">

    <p>@Model.Question.User.Surname @Model.Question.User.Name </p>
    <p>Registerd in: <br /> @Model.Question.User.Datetime.ToString("MMMM dd, yyyy")</p>
    <p>Pass  @Model.QuestionsCount  Question</p>
    <hr />

    @Html.Action("RightQuestion", "Question", new { categoryId = @Model.Question.CategoryId })

</div>

<script>
    var questionCommentList = '@Url.Action("CommentList", "Question")';
    var questionId = @Model.Question.Id;
    var currentPage = @currentPage;
</script>

<script src="~/Scripts/MyScript/Home.js"></script>

<style>
    .commentstyle {
        min-width: 330px;
    }
</style>
