﻿@model Systrotech.Blog.View_Models.HomeViewModel


<br />


@{
    var pageType = Convert.ToInt32(TempData["PageType"]);
    var currentPage = Convert.ToInt32(TempData["PageCount"]);
    var categoryId = Convert.ToInt32(TempData["categoryId"]);
    var bySearch = Convert.ToString(TempData["searchTerm"]);
}
<script>
    var currentPage = @currentPage;
    var homeQuestionAction= '@Url.Action("Question", "Home")';
    var pageType= @pageType;
    var categoryId =  @categoryId;
    var bySearch='@bySearch';
</script>

<span><b style="color:darkorange">Sort Question by </b></span>
@Html.DropDownListFor(x => x.SortBy, new SelectList(Model.SortByList, "Value", "Text"), new { @id = "SortBy" })

@if (pageType != 0)
{
    <input style="margin-left:20px" class="btn btn-success" type="button" value="ADD QUESTION" onclick="location.href='@Url.Action("Question", "User")'" />
}
<hr />

<div id="divQuestionContent">
    @Html.Action("Question", "Home", new { UserPage = pageType, Category = categoryId, searchTerm = bySearch })
</div>

<hr />
<div style="text-align:center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#" onclick="actions.Browse('first')">First</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="actions.Browse('prev')">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="actions.Browse('next')">Next</a></li>
            <li class="page-item "><a class="page-link" href="#" onclick="actions.Browse('last')">Last</a></li>
        </ul>
    </nav>
</div>


<script src="~/Scripts/MyScript/Home.js"></script>