﻿@using Systrotech_Repository.Entities;
@using Systrotech_Repository.Services;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The description of my page" />
    <title>Systrotech</title>
    <link rel="shortcut icon" href="https://ratings.am/content/uploadedimages/companies/logos/sys2.png" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script> @*hanum em jquery fily chi tneum*@

</head>
<body class="bg-info text-white">
    <div class="navbar navbar-inverse navbar-fixed-top " style="background-color:antiquewhite">
        <div class="container">
            <div class="navbar-header" style="float:left">
                @Html.ActionLink("SystrotechBlog", "Index", "Home", new { area = "" }, new { @class = "navbar-brand row homelink" })
            </div>
            <div style="float:left; margin-top:10px; margin-left:550px">
                @using (@Html.BeginForm("Search", "Question"))
                {
                    @Html.TextBox("searchTerm", null, new { id = "textSearch", @autocomplete = "off", @placeholder = "Search..." })
                    <input type="submit" value="Search" />
                }
            </div>
            <div class="" style="float:right">
                @{
                    if (HttpContext.Current.Session["Name"] != null)
                    {
                        string name = (string)HttpContext.Current.Session["Name"];
                        <span class="navbar-header" style="text-align:center; text-decoration:none; font-family:Arial; margin-top:11px"><a href="~/User/Page">Hello @name</a></span>
                        <div style="margin-top:12px;margin-left:20px; float:right">
                            <span class="glyphicon glyphicon-log-out" style="margin-right:3px"></span>
                            @Html.ActionLink("Sign Out", "Logout", "Account")
                        </div>
                    }
                    else
                    {
                        <div style="margin-top:12px; float:right">
                            <span class="glyphicon glyphicon-log-in" style="margin-right:3px; margin-left:10px"></span>
                            @Html.ActionLink("Sign In", "Login", "Account")
                        </div>
                        <div style="margin-top:12px;margin-left:20px; float:right">
                            <span class="glyphicon glyphicon-registration-mark" style="margin-right:3px"></span>
                            @Html.ActionLink("Register", "Register", "Account")
                        </div>
                    }
                }

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
            @Html.Action("LeftBar", "Home")
        </div>
        <div class="col-md-10 bg-warning">
            <div id="content" class="container body-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="panel-footer" style="text-align:center">
        <p>&copy; @DateTime.Now.Year - All Rights Reserved</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")

    <script src="~/Scripts/js/jszip.min.js"></script>
    <script src="~/Scripts/js/kendo.all.min.js"></script>

    @Styles.Render("~/Content/css")
    <link href="~/Content/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/styles/kendo.rtl.min.css" rel="stylesheet" />

    @*this is  for autocomplete*@
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    @* @RenderSection("scripts", required: false)*@

    <style>
        .homelink {
            font-size: 25px;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('#textSearch').autocomplete({
                minLength: 1,
                source: '@Url.Action("GetQuestions", "Question")',
                open: function () {
                    $(this).autocomplete('widget').css('z-index', 10000000);
                    return false;
                },

                select: function (event, ui) {
                    $("#textSearch").val(ui.item.label);
                    var qustionId = ui.item.value;
                    window.location.href = '@Url.Content("~/Question/index/")' + qustionId;
                },
            });
        });
    </script>
</body>

</html>