﻿@model IEnumerable<Systrotech_Repository.Entities.Question>

@if (ViewBag.message!=null)
{
    <p  style="color:red; font-size:18px"> @ViewBag.message</p>
}

@{
    var currentPage = Convert.ToInt32(TempData["PageCount"]);

    foreach (var item in Model)
    {
        <div class="questionlists">
            @Html.ActionLink(item.Title, "Index", "Question", new { id = item.Id }, new { @class = "questionlink" }) <span style="font-size:10px; color:red">@item.Date by @item.User.Name</span>

            @if (Convert.ToInt32(TempData["PageType"]) != 0)
            {
                @Html.ActionLink("Edit", "Question", controllerName: "User", routeValues: new { id = item.Id }, htmlAttributes: null)
                <a href="#" class="btn btn-link" data-toggle="modal" data-target="#myModal" data-index="@item.Id" onclick="questions.GetId(this)">Delete</a>

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>Are you sure that you want to <span style="color:red"><b>DELETE</b></span> this question?.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="questions.Delete()">OK</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cencel</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <p> @item.Content </p>
        </div>
    }
}

<script>
    currentPage = @currentPage;
    var deleteAction= '@Url.Action("Delete", "User")';
</script>

<style>
    .questionlink {
    font-size:25px;
    }
    
    a:hover{
        text-decoration:none;
    }
</style>