﻿@model Systrotech.Blog.View_Models.AddQuestionViewModel
@{
    ViewBag.Title = "Question";
}

@if (Model.Question.Title != null)
{
    <h2> Edit Question</h2>
}
else
{
    <h2> Add Question</h2>
}

<style>
    .input500 {
        min-width: 945px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Question.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Question.Title, new { htmlAttributes = new { @class = "form-control input500" } })
                @Html.ValidationMessageFor(model => model.Question.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Question.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Question.Content)
                <textarea id="editor"></textarea>
                @*@Html.ValidationMessageFor(model => model.Question.Content, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <br />
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Categories, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.Question.CategoryId, new SelectList(Model.Categories, "Value", "Text"), new { @id = "cmbCategories" })

            </div>
        </div>

        @Html.HiddenFor(model => model.Question.Id)


        @{
            string submit = null;
            if (Model.Question.Title != null)
            {
                submit = "Edit Post";
            }
            else
            {
                submit = "Add Post";
            }

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="btnSubmit" type="submit" value="@submit" class="btn btn-default" />
                </div>
            </div>

        }


    </div>
            }

<script src="~/Scripts/MyScript/Home.js"></script>

